header {
  margin-top: 10px;
  margin-left: 5px;
}
#dataShowSection {
  padding-top: 15px;
}
#dropdownReadFile:hover{
  cursor: pointer;
}
.dropdown-item:hover{
  cursor: pointer;
}
td {
  font-size: 0.8em;
}